<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
        ></script>
        <!-- <link rel="stylesheet" href="availabilitystyle.css" /> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/availabilitystyle.css') }}">
    <title>Sign in & Sign up Form</title>
    <style> 
    </style>
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="screen">
                <div class="screen-header"></div>
                <div class="screen-body">
                    <div class="screen-body-item">
                        <div class="app-title">
                            <span>Vaccine Availability</span>
                        </div>
                        <div class="Vaccine">
                            

                        </div>                    
                        <form action="notify.html">
                            <div class="app-form">
                                <input type="submit" class="btn" value="Notify me" />
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>