<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"
        ></script>
        <!-- <link rel="stylesheet" href="notify.css" /> -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/notify.css') }}">
    <title>Sign in & Sign up Form</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="screen">
                <div class="screen-header"></div>
                <div class="screen-body">
                    <div class="screen-body-item">
                        <div class="app-title">
                            <span>We will notify you when slots are available! </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>