*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background: linear-gradient(to right, #b5e2e4 30%, #41d8dd 70%);
    font-size: 12px;
  }

  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .background {
    display: flex;
    min-height: 100vh;
  }

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .screen {
    position: relative;
    background: #fcfcfc;
    border-radius: 15px;
  }

  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-radius: 15px;
    z-index: -1;
  }

  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #3e3e3e ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .screen-body {
    display: flex;
  }

  .screen-body-item {
    flex: 1;
    padding: 50px;
  }

  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #3e3e3e;
    font-size: 26px;
  }

  .app-form-group {
    margin-bottom: 15px;
  }

  .app-form-group.message {
    margin-top: 40px;
  }

  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: rgb(27, 25, 25);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }

  .app-form-control::placeholder {
    color: #666;
  }

  .app-form-control:focus {
    border-bottom-color: #ddd;
  }

  .btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 48px;
    cursor: pointer;
    background-color: #585555;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
  }

  .btn:hover {
    background-color: #3e3e3e;
  }

  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }

    .screen-body-item.left {
      margin-bottom: 30px;
    }

    .app-title {
      flex-direction: row;
    }

    .app-title span {
      margin-right: 12px;
    }

    .app-title:after {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }

    .screen-body-item {
      padding: 0;
    }
  }
